@font-face {
  font-family: 'gyparodyheavy';
  src: url('fonts/gyparody.eot');
  src: url('fonts/gyparody.eot?#iefix') format('embedded-opentype'),
       url('fonts/gyparody.ttf') format('truetype'),
       url('fonts/gyparody.svg#gyparodyheavy') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'arroyoregular';
  src: url('fonts/arroy.eot');
  src: url('fonts/arroy.eot?#iefix') format('embedded-opentype'),
       url('fonts/arroy.ttf') format('truetype'),
       url('fonts/arroy.svg#arroyoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'optikorinna-agencyregular';
  src: url('fonts/optikorinna.eot');
  src: url('fonts/optikorinna.eot?#iefix') format('embedded-opentype'),
       url('fonts/optikorinna.ttf') format('truetype'),
       url('fonts/optikorinna.svg#optikorinna-agencyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

*{
    font-family: 'optikorinna-agencyregular';
}

body {
    background-color: black;
    color: white;
}

.category {
    font-family: 'arroyoregular';
    background-color: blue;
    border-style: solid;
    border-color: black;
    color: white;
    font-style: bold;
    padding: 5px 5px;
    text-align: center;
    vertical-align: center;
}

.clue-box {
    font-family: 'arroyoregular';
    background-color: blue;
    border-style: solid;
    border-color: black;
    color: yellow;
    font-size: 35px;
    font-style: bold;
    text-align: center;
}

.container {
    padding-top: 25px;
}

.invisible-div {
  visibility: hidden;
}

/* w3schools modal example */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  text-align: center;
}

.correctness-selector {
  visibility: hidden;
  text-align: center;
}

.score-header {
  color: #fefefe;
}

.end-of-game {
  visibility: hidden;
}

.final-jeopardy {
  visibility: hidden;
  text-align: center;
  padding: 0px 5px;
  text-align: center;
}

.daily-double {
  visibility: hidden;
  text-align: center;
  padding: 0px 5px;
  text-align: center;
}

button {
  background-color: blue;
  color: white;
}

.title-header {
  font-family: 'gyparodyheavy';
  padding: 40px;
  text-align: center;
  background: blue;
  color: white;
  font-size: 100px;
}

input{
  background-color: blue;
  color: white;
}
